# OpenSSL configuration to generate a new key with signing requst for a x509v3 
# multidomain certificate
[ req ]
default_bits       = 4096
default_md         = sha512
default_keyfile    = key.pem
prompt             = no
encrypt_key        = no

# base request
distinguished_name = req_distinguished_name

# extensions
req_extensions     = v3_req

# distinguished_name
[ req_distinguished_name ]
countryName            = "IL"                     # C=
stateOrProvinceName    = "Haifa"                  # ST=
localityName           = "Haifa"	              # L=
organizationName       = "ZIM"	                  # O=
organizationalUnitName = "InfoSec"                # OU=
commonName             = "html5.bulwarx.local"    # CN=

# req_extensions
[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.0 = html5.bulwarx.local
DNS.1 = html5
IP.1 = 192.168.25.237
